{% extends 'base.html' %}{% block title %}Users{% endblock %}
{% block content %}
    <br><h1>Users List</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Country</th>
            <th>Occupation</th>
            <th>Company</th>
            <th>Comment</th>
            <th>Edit</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.state }}</td>
            <td>{{ user.zip_code }}</td>
            <td>{{ user.country }}</td>
            <td>{{ user.occupation }}</td>
            <td>{{ user.company }}</td>
            <td>{{ user.comment }}</td>
            <td><a class="edit" href="{{ url_for('edit_user', user_id=user.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>

    
{% endblock %}